* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-image: linear-gradient( to bottom right, rgba(79,51,176,1.0),rgba(210,53,165));
}

.main {
  /* height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center; */
  width: 90%;
  max-width: 340px;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  left: 50%;
  margin-top: 4rem;
  transform: translateX(-50%);
  color: #fff;
  background-color: #191c22;
  overflow: hidden;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.theme-toggler.active {
  color: #333;
}

.theme-toggler.active::before {
  background-color: #fff;
}

.theme-toggler::before {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

#display {
  margin: 0 10px;
  height: 1rem;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}


button#equal {
  height: 130px;
}

/* light theme */

.calculator {
  background-color: #fff;
}

.calculator #display {
  color: #0a1e23;
}

.calculator button#clear {
  background-color: #ffd5d8;
  color: #fc4552;
}

.calculator button.btn-number {
  background-color: #c3eaff;
  color: #000000;
}

.calculator button.btn-operator {
  background-color: #ffd0fb;
  color: #f967f3;
}

.calculator button.btn-equal {
  background-color: #adf9e7;
  color: #000;
}

/* dark theme */

.calculator.dark {
  background-color: #071115;
}

.calculator.dark #display {
  color: #f8fafb;
}

.calculator.dark button#clear {
  background-color: #2d191e;
  color: #bd3740;
}

.calculator.dark button.btn-number {
  background-color: #1b2f38;
  color: #f8fafb;
}

.calculator.dark button.btn-operator {
  background-color: #2e1f39;
  color: #aa00a4;
}

.calculator.dark button.btn-equal {
  background-color: #223323;
  color: #ffffff;
}

/* -------------------------------------------------------------------------------------------- */
.main__notifications {
  width: 100%;
  height: 3rem;
  padding: 0 2rem;
}
.main__top {
  height: 20rem;
  padding: 2rem 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem;
  
}
.main__bottom {
  height: 40rem;
  background-color: #262931;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem
}
.btn {
  border: none;
  background: transparent;
  color: #fff;
  font-weight: 600;
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.5s;
}
.btn:hover {
  
  background-color: #353942;
}
.btn-operator {
  color: #d26a68;

}
.input1 {
  background: transparent;
  flex-grow: 1;
  height: 4rem;
  border: none;
  text-align: right;
  font-size: 3.5rem;
  color: #fff;
  max-width: 100%;
  outline: none;
}
::placeholder {
  color: gray;
}
.main__notifications {
  text-align: end;
}
